@model IEnumerable<AdventureWorks.Domain.ModelObjects.Entities.PurchaseOrderHeader>

@{
    ViewBag.Title = "Purchasing - Purchase Orders";
}

<h2>@ViewBag.Title Index</h2>

<p>
    @Html.ActionLink("New PO", "Create", null, new { @class = "btn btn-sm btn-primary" })
</p>
<table id="pos" class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vendor.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseOrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipMethod.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxAmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Freight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalDue)
        </th>
        <th></th>
    </tr>
    </thead>

    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vendor.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseOrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipMethod.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate, "ShortDateTime")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipDate, "ShortDateTime")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxAmt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Freight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalDue)
        </td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                    Actions
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Edit", "Edit", new { id = item.PurchaseOrderID })</li> 
                    <li>@Html.ActionLink("Details", "Details", new { id = item.PurchaseOrderID })</li> 
                    <li>@Html.ActionLink("Delete", "Delete", new { id = item.PurchaseOrderID })</li>
                </ul>
            </div>
        </td>
    </tr>
    
}
    </tbody>

</table>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#pos').dataTable();
        } );
    </script>
}